[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run prisma:deploy && npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

